.footer
  p Designed and coded with
    i.icon-heart
    | by
    a(href='https://github.com/kaustavha' target='_blank') kaustavha.
    |  Fork the template on
    a(href='https://github.com/kaustavha/kaustavha.github.com/tree/master/resume/3' target='_blank')
      i.icon-github
  p.min More detailed resume available at
    a(href='http://bit.ly/kaustav' target='_blank') http://bit.ly/kaustav
    |   or via my website
    a(href='kaustavha.github.com' target='_blank') kaustavha.github.com
