 .promo-block-1x1 i{

    right: 76%;
}


.promo-block-2x2 i{
 
    right: 60%;
}

.promo-block-2x1 {
 
    width: 94%;
}

.promo-block-2x1 i{
   
   right: 62%;
}

.block-holder {
    height: 620px;
    margin-left: -9px !important;
}
.more-icons i{
    font-size: 50px;
}

.promo-block-2x1 .more-icons i {
    bottom: -40px;
}
.promo-avatar {
  
    padding-top: 15px;
   
}


.footer-holder .footer-menu li {
  
    font-size: 15px;
   
    margin-left: 10px;
}
.footer-holder .footer-menu li *:after {
    content: " .";
}
.skill .title,.skill-group-title ,.skill-group-title h4{
   
      font-size: 13px;
}

.skill-level li {
   
    height: 5px;
    margin-left: 3px;
    width: 5px;
}

.table-like-div label,.table-like-div{
    font-size: 11px;
}
.table-like-div {
    word-wrap: normal;
}
.promo-block-2x1 .map-holder, .promo-block-2x1 .map {
    height: 92%;
    width: 95%;
}
.contact-form input,.contact-form textarea {

    width:94%;
  
}
.contact-form .submit {
  
  
    width: 100%;
    
}
