
@import url(http://fonts.googleapis.com/css?family=Gabriela:400,300);

/*Colors*/
.promo-black-1{
    background-color: #000000;
   
}
.promo-green-1{
    background-color: #00B159;
}
.promo-blue-1{
    background-color: #00AEDB;
}
.promo-orange-1{
    background-color: #F37735;
}
.promo-pink-1{
    background-color: #EC098C;
}
.promo-transparent{
    background-color: transparent;
}
.promo-blue-2{
    background-color: #314E6C;
}
.promo-blue-3{
    background-color: #44A5AC;
}
.promo-blue-4{
    background-color: #297E83;
}
.promo-red-1{
    background-color: #D44032;
}
.promo-red-2{
    background-color: #C9312C;
}
.promo-red-3{
    background-color: #D11141;
}
.promo-purple-1{
    background-color: #7C4199;
}
.promo-yellow-1{
    background-color: #FFC425;
}
.promo-blue-5{
    background-color: #034A8C;
}
.promo-yellow-2{
    background-color: #E59B18;
}
.promo-green-3{
    background-color: #006054;
}
.promo-blue-6{
    background-color: #44A5AC;
}
.promo-blue-7{
    background-color: #336797;
}
.promo-black-2{
    background-color: #3B3E45;
}
.promo-purple-3{
    background-color: #640F6C;
}
.promo-purple-2{
    background-color: #1D092C;
}
.promo-blue-8{
    background-color: #0C5FA1;
}
.promo-green-2{
    background-color: #86AA26;
}
.promo-orange-2{
    background-color: #B84E00;
}
.promo-blue-9{
    background-color: #305B6E;
}
.promo-white{
    background-color: #ffffff;
}
.promo-blue-10{
    background-color: #00AAF0;
}
.promo-yellow-3{
    background-color: #E59A1A;
}
.promo-pink-2{
    background-color: #F63150;
}
.promo-red-4{
    background-color: #CE0A0B;
}
.promo-orange-3{
    background-color: #BE4F3B;
}


/*block sizes*/
.promo-block-long{
    width:255px;
    height: 80px;
     margin-left: 0px;
      font-family: 'Open Sans', sans-serif;
     color:#ffffff;
    position: relative;
  float: left;
    margin-left: 7px;
   margin-top: 7px;
}
.promo-block-long:hover{
     background-color: #f1f1f1;
     color:#333;
     cursor: pointer;
}

.promo-block-small {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5px;
}
.promo-block-small i {
  color:#fff;
 
  font-size: 40px;
   left: 4px;
    position: absolute;
    top: 12px;
}
/*.promo-block-long.transition,.promo-block-2x1.transition,.promo-block-1x1.transition,.promo-block-2x2.transition,.promo-block-2x1.transition i,.promo-block-1x1.transition i,.promo-block-2x2.transition i,.promo-block-2x2.transition .title,.promo-block-2x1.transition .title,.promo-block-1x1.transition .title,.promo-block-2x2.transition .title{
     -webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
		transition: all 200ms ease; 
               
}*/

.promo-white:hover{
    background-color: #333!important;
}
.promo-block-2x1,.promo-block-1x1,.promo-block-2x2{
    font-family: 'Open Sans', sans-serif;
     color:#ffffff;
    position: relative;
    float: left;
    margin-left: 7px;
   margin-top: 7px;
   
}

.paged-block-container .paged-block:nth-child(n+2){
  display: none;
}
.promo-block-2x1:hover,.promo-block-1x1:hover,.promo-block-2x2:hover{
   
    cursor: pointer;
    background-color: #f1f1f1;
}
.promo-block-1x1.promo-transparent:hover,.promo-block-2x1.promo-transparent:hover,.promo-block-2x2.promo-transparent:hover{
    background-color: transparent;
    color: #E59A1A;
}
.open .promo-block-2x1:hover ul li,.open .promo-block-1x1:hover  ul li,.open .promo-block-2x2:hover  ul li{
   color:#333333;
     
}
.open .promo-block-2x1:hover ul li a,.open .promo-block-1x1:hover  ul li a,.open .promo-block-2x2:hover  ul li a{
   color:#000;
     
}
.promo-block-2x1:hover i,.promo-block-2x1:hover ,.promo-block-1x1:hover i,.promo-block-1x1:hover ,.promo-block-2x2:hover i,.promo-block-2x2:hover ,.promo-block-2x1:hover .title,.promo-block-1x1:hover .title,.promo-block-2x2:hover .title,.promo-block-2x1:hover label,.promo-block-1x1:hover label,.promo-block-2x2:hover label{
    
   color:#000000;
}
.promo-block-2x1 i,.promo-block-1x1 i,.promo-block-2x2 i{
    font-size: 60px;
    color:#ffffff;
}

.promo-block-1x1 i{
 bottom: 84px;
    position: absolute;
    right: 72%;
}

.promo-block-1x1{
    
    width: 45.2%;
    height: 22%;
}
.paged-block-container.open i,.slider-block.open i{
/*bottom: 15px;
    font-size: 26px;
    right: 21px;*/
     
}
.promo-block-1x1 .title,.promo-block-2x1 .title,.promo-block-2x2 .title{
    position: absolute;
    left: 5px;
    bottom: 5px;
    color:#ffffff;
    font-size: 16px;
   
}
.promo-block-2x1 i{
     position: absolute;
   bottom: 84px;
   right: 60%;
}
.promo-block-2x1{
   
     height: 22%;
    width: 93%;
}
.promo-block-2x2 i{
    bottom: 160px;
    position: absolute;
    right: 60%;
}
.promo-block-2x2{
   
    height: 45.1%;
    width: 93%;
}

.promo-block-1x1 .nav-link,.promo-block-1x1 .normal-link{
    display: block;
  width: 100%;
    height: 100%;
     z-index: 100;
     position: absolute;
   
}
.promo-block-2x2 .nav-link,.promo-block-1x1 .normal-link{
    display: block;
    width: 100%;
    height: 100%;
     z-index: 100;
   
    position: absolute;
}
.promo-block-2x1 .nav-link,.promo-block-1x1 .normal-link{
    display: block;
    z-index: 100;
     width: 100%;
    height: 100%;
    position: absolute;
}

