body {
  display: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #808080;
}
h2 {
  text-align: center;
  font-size: 200%;
  padding: 10px;
  font-family: Helvetica, sans-serif;
}
p {
  font-size: 175%;
}
.poster img {
  width: 100%;
  min-height: 800px;
  margin-top: -10px;
}
.bg {
  position: fixed;
  background-image: url("boarding-gate.jpg");
  background-color: rgba(0,0,0,0.5);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  z-index: -1;
}
.title {
  text-align: center;
  opacity: 0.8;
  margin-top: -1%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  width: 100%;
  background-color: #00bfff;
  font-family: Helvetica, cursive;
}
.title h1 {
  font-size: 250%;
}
.title a {
  font-size: 125%;
  padding: 10px;
  text-decoration: none;
  color: #ffa500;
  border: 2px solid #ff8c00;
  border-radius: 5px;
  margin: 10px;
}
.title a:hover {
  color: #ff0;
  border: 2px solid #ffa500;
  background-color: #ff8c00;
}
.title #trailer:hover {
  color: #fff;
  background-color: #808080;
}
.before-dom-ready {
  z-index: 1 !important;
  top: 0;
}
.synopsis {
  margin: 2% 0;
  background-color: rgba(180,180,180,0.6);
  color: #2d2d2d;
  width: auto;
}
.synopsis p,
.synopsis li,
.synopsis a,
.synopsis span {
  padding: 40px 160px;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica, serif;
}
.synopsis li {
  font-size: 120%;
}
.synopsis p {
  margin-top: -40px;
}
.info {
  width: auto;
  background-color: rgba(45,45,45,0.8);
  color: #b4b4b4;
}
.info p,
.info li,
.info a,
.info span {
  padding: 40px 160px;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica, serif;
}
.info li {
  font-size: 120%;
}
#firstInfo {
  margin-top: 150px;
}
.cast-holder {
  height: 480px;
  padding-bottom: 80px;
}
.cast-holder h2 {
  margin: 2% 0;
  background-color: rgba(180,180,180,0.6);
  color: #2d2d2d;
}
.left {
  width: auto;
  float: left;
  margin-left: 15%;
}
.right {
  width: auto;
  float: right;
  margin-right: 20%;
}
.cast {
  margin: 2% 0;
  background-color: rgba(180,180,180,0.6);
  color: #2d2d2d;
  width: auto;
  margin: auto;
  width: 370px;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
}
.cast p,
.cast li,
.cast a,
.cast span {
  padding: 40px 160px;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica, serif;
}
.cast li {
  font-size: 120%;
}
.cast li {
  padding: 5px;
}
.tickets {
  background-color: rgba(45,45,45,0.8);
  color: #b4b4b4;
  width: auto;
}
.tickets p,
.tickets li,
.tickets a,
.tickets span {
  padding: 40px 160px;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica, serif;
}
.tickets li {
  font-size: 120%;
}
.tickets span {
  font-size: 110%;
}
.tickets a {
  color: #ffa500;
  font-size: inherit;
  text-decoration: none;
  padding: 5px;
}
.tickets p {
  padding: 5px;
}
.map {
  margin: 2% 0;
  background-color: rgba(180,180,180,0.6);
  color: #2d2d2d;
  width: auto;
}
.map p,
.map li,
.map a,
.map span {
  padding: 40px 160px;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica, serif;
}
.map li {
  font-size: 120%;
}
.map p {
  padding-bottom: 0px;
}
footer p {
  font-size: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
.stickit {
  position: fixed;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background: #333;
  border-radius: 4px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 15px 15px;
  z-index: 100;
  width: 220px;
}
.tooltip:active {
  background: #333;
  border-radius: 4px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 15px 15px;
  z-index: 100;
  width: 220px;
}
