doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
    title Armada, cross platform application distribution channel
    meta(name='Armada', content='Armada Homepage')
    meta(name='kaustav', content='apps app distribution store marketplace')
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/css.css', rel='stylesheet', media='screen')
    script(src='js/firebase.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          h1 Armada
    // Section #1
    section(data-speed='6', data-type='background', id='intro')
      .container
        .row-fluid
          .col-md-5
            img(src='images/armada_logo.png')
          .col-md-5
            h1 Armada
    // Section #2
    section#home(data-speed='4', data-type='background')
      .container
        .hero-unit
          p Armada attempts to be a fully cross platform marketplace
          p Targeted at developers building cross platform application, and novice developers who can't validate the fees associated with uploading apps to google play or apples app store.
    // Section #3
    section#about(data-speed='2', data-type='background')
      .container
        .page-header
          h1 Thanks for visiting!
        .row-fluid
          .span4
            h2 Contact Us
            | Email:
            a(href='distributeyourflyers@gmail.com') distributeyourflyers@gmail.com
            br
            |  Phone: (647) - 448 2896
    script(src='js/jquery-1.6.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/init.js')
