 

@media print{
    .header {
        margin-top: -10px;
    }
    .job:nth-of-type(4) {
        margin-bottom:50px;
    }
}

h1 {
    font-family: Helvetica;
    color: #333333;
}
h2 {
    font-family: Helvetica;
    color: #333333;
}
li {
    color: #4d4d4d;
}
.header {
    display: inline-flex;
}

    .infoContact{
        top: 0;
        list-style: none;
        border-right: 1px solid black;
        height: 110px;
        padding-right: 5px;

    }
    .infoContact a{
        color: #308dff;
    }
    .address {
        color: #308dff;
        padding-left: 5px;
    text-align:center;

    }
    .title{       
      float: left;
    height: 80px;
    width: 375px;
    }
    .title h1{
         color: #4d4d4d;
      font-size: 300%;      
    }
    .category{
      position: absolute;
      margin-top: 15px;
      font-size: 175%;
      border-bottom:1px solid #308dff;
      font-family: Helvetica;
    }
    #c1{
      margin-left: 400px;
       margin-top: 0px !important;
    }
    .content{
        margin-top: 10px;
        border-top: 4px solid #308dff;     
        padding:2%;
    }
    .section{          
        margin-left: 20%;
        width: 80%;
    }
    #technical{
    width: 100%;
    margin-left: 0;
    }
    .sectionEnd{
        height: 1px;
        border: 1px solid grey;
    }
    .styleNone{
        list-style: none;
    }
    .styleNone li a{
        text-decoration: none;
    }
    .technical{
        display: inline-table;
        width:165px;
	margin-top: 50px;
        margin-left: 10px;
        border-radius:6px;
        border:1px solid black;
    }
    .technical li{        
        padding-left: 4px;
        border-bottom: 1px solid black;
        margin-left: -40px;
    }
    .last{
        border-bottom: 0px !important;
    }
    .education {
            border-bottom: 1px solid gray;
      margin-bottom: 10px; 
padding-left: 10px;      
        border-left: 4px solid #308dff;
    }
    .job {
      border-bottom: 1px solid gray;
      margin-bottom: -5px; 
      padding-left: 10px;
        border-left: 4px solid #308dff;
    }
    .job p {
    color: #4d4d4d;
}
    #lastJob {
        margin-bottom: 10px;
    }
    .job h4{
        float: right;
        margin-top: -55px;
    }
    .misc{
      list-style: circle;
      font-size: 125%;
      border-left: 4px solid #308dff;
    }
    #page{
    margin-left:auto;
    margin-right:auto;
        width: 950px;        
    }
.title-right {
    display: inline-flex;
    margin-left: 175px;
    float: right;
}

.job h3 {
    margin-top: -10px;
    margin-bottom: -5px;
}
.education h3 {
    margin-top: -15px;
    margin-bottom: -15px;
    font-size: 140%;
}

.education h4 {
    font-size: 120%;
}



.icon-home {
    color: black;
}
