doctype html
meta(charset='utf-8')
html(ng-app="app")
    head
        title UW Chatroom Application
        include tpls/head
    body
        .app
            .navbar
                h1 UW Chat
        include tpls/login
        include tpls/chat
        include tpls/foot