.bg {
    background-image: url(index.jpg);
    background-size: 100%;
    z-index: -1;
}
ul.a {list-style-type:none;
}

.button {
   border-top: 1px solid #7e878c;
   background: #5e5e5e;
   background: -webkit-gradient(linear, left top, left bottom, from(#1e2326), to(#5e5e5e));
   background: -webkit-linear-gradient(top, #1e2326, #5e5e5e);
   background: -moz-linear-gradient(top, #1e2326, #5e5e5e);
   background: -ms-linear-gradient(top, #1e2326, #5e5e5e);
   background: -o-linear-gradient(top, #1e2326, #5e5e5e);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ffffff;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }