@import '../lib/fonts.css'

.headings
  text-transform capitalize
  font-family 'Karma', serif
  color #333
  padding: 2px

.sideHeader
  font-size 110%
  font-family monospace
  float right
  display inline

.contents
  font-family 'Cantarell', sans-serif
  color #4d4d4d
  font-weight 300

h1
  @extend .headings
  font-size 120%
h2
  @extend .headings
  font-size 150%
  font-weight 800
h3
  @extend .headings
  font-size 110%
  font-weight 600
  margin 0px 0px
h4
  @extend .contents
  font-size 90%
  font-weight 400
  line-height 18px
  margin 5px 0px
h5
  @extend .sideHeader
  margin-top -20px
h6
  @extend .sideHeader

p
  @extend .contents
  line-height 20px

.styleNone
  list-style none

a
  text-decoration none
  color #308dff
a:visited
  color #808080
a:before
  content " "

.sectionBlockStyle
  margin 5px 10px
  padding-left 15px
  border-left 1px solid #308dff

.section
  margin-left 200px
  width 750px

.sectionContainer
  padding 5px 0px

.sectionContainerMid
  @extend .sectionContainer
  text-align center

.category
  @extend .headings
  float left
  text-align center
  font-size 165%
  margin-top 10px
  width 190px

.categoryCenter
  @extend .headings
  font-size 165%
  text-align center

.legend
  @extend .category
  font-size 100%
  margin-top 80px
  margin-left -175px
  max-width 150px
  border 1px solid #308dff

ul
  @extend .styleNone
  li
    @extend .contents
    margin 5px
    text-indent -9px
    padding-left 10px
  li:before
    font-family 'fontello'
    font-size 70%
    content '\e80b  '

.trigger
  position fixed
  left 5px
  button
    position fixed
    background white
    border 2px dotted #308dff
    padding 2px

.alignLeft
  text-align left

.alignMid
  text-align center
