#projects
  text-align center
  div.alignLeft
    margin-top 10px
    text-align left
  .project
    @extend .sectionBlockStyle
    position relative
    display inline-table
    width 435px
    height 75px
    margin 5px
    h4
      padding-top 10px
    h2
      font-size 120%
