#projects
  text-align center
  .category
    position relative
    margin-bottom 10px
  div.alignLeft
    margin-top 10px
    text-align left
  .project
    @extend .sectionBlockStyle
    position relative
    display inline-table
    width 435px
    height 140px
    margin 5px
    h5
      display inline
      font-size 110%
      font-family monospace
    h2
      font-size 140%

