@require common
@import media
@import title
@import technical
@import experience
@import projects
@import education

body
  margin-left auto
  margin-right auto
  width 950px

.misc
  margin 0px 0px
  font-size 125%
  border-left 4px solid #308dff

.footer
  text-align center
  margin-top 2px
  margin-bottom 0px
