@require common
@import media
@import title
@import technical
@import experience
@import misc
@import projects
@import education

body
  margin-left auto
  margin-right auto
  width 950px

.footer
  text-align center
  margin-top 2px
  margin-bottom 0px
  font-size 85%

.min
  display none
