.header
  display block
  height 85px
  padding-bottom 15px
  border-bottom 6px solid #308dff

.title-right
  display inline-flex
  margin-left 175px
  float right

.address
  color #308dff
  padding-left 5px
  text-align center

.infoContact
  a
    color #308dff
  li:before
    content ''

.title
  float left
  margin 15px 0px
  h1
    color #4d4d4d
    font-size 350%
