h1 {
  font-family: Arial;
}
.navbar {
  position: fixed;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #d5bd52;
  display: inline-block;
  text-align: center;
}
.navbar h1 {
  display: inline;
  font-size: 300%;
}
.fChat {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 5%;
  position: fixed;
  height: 80%;
  display: none;
  z-index: -1;
  width: 100%;
}
.login {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  height: 80%;
  position: fixed;
  text-align: center;
}
.login input {
  margin-bottom: 5%;
  display: block;
  text-align: center;
  width: 80%;
  padding: 15px;
  font-size: 250%;
  border-radius: 5px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  border-radius: 5px;
  width: 80%;
  padding: 25px;
  background-color: #d5bd52;
}
.btn:active {
  background-color: #ea8336;
}
#firechat .chat {
  height: 200px !important;
}
#firechat-wrapper {
  height: 400px;
  max-width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 2% auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}
