doctype html
html(lang="en")
  head
    title="title"
    link(rel='stylesheet', href='./assets/styles.css')

    link(rel='stylesheet', href='../../kaustav-haldar-resume/lib/fonts.css')
    link(rel='stylesheet', href='../../kaustav-haldar-resume/lib/normalize.css')
    link(rel='stylesheet', href='../../kaustav-haldar-resume/lib/reset.css')
    link(rel='stylesheet', href='assets/styles.css')

    meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    script(src='../../kaustav-haldar-resume/lib/jq.min.js')
    script(src='../../kaustav-haldar-resume/lib/google_analytics.min.js')
  body
    main
        section(id='content')
          article
              include faq
