@css {
    hr.blue {
      display: block;
      border: 0;
      height: 2px;
      position:relative;
      background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0)); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,#F9FCFF), color-stop(50%, #308dff), color-stop(85%,#F9FCFF), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /*rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0)1.10+ */
      background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /* W3C */
    }
    hr.blue:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }
  hr.grey {
    display: block;
    border: 0;
    height: 2px;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }
  hr.grey:before {
    content: "";
    display: block;
    border-top: solid 1px #f9f9f9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
}
