doctype html
head
    title Curriculum Vitae ver. 3
    link(rel='stylesheet', href='css/fontello.css')
    link(rel='stylesheet', href='css/styles.css')
    meta(content='Much student, so starving, high employable, very resume, wow')
  body#page
    .header
      span.title
        h1 Kaustav Haldar
      span.title-right
        span.infoContact
          ul.styleNone
            li
              i.icon-globe
              a(href='http://kaustav.me') http://kaustav.me
            li
              i.icon-mail
              a(href='mailto:kaustav_2007@hotmail.com') khaldar@uwaterloo.ca
            li
              i.icon-mobile
              a(href='tel:226-989-3852') 226-989-3852
            li
              i.icon-skype
              a(href='skype:kaustav.haldar?call') kaustav.haldar
            li
              i.icon-github
              a(href='https://github.com/kaustavha') kaustavha
        span.address
          p
            i.icon-home
            br
            | 164 Westcourt Place,
            br
            | Waterloo, Ontario, Canada,
            br
            | N2L 2R7
    .content
      #c1.category Technical
      #technical.section
        ul.technical.styleNone
          li JavaScript | CoffeScript
          li HTML | JADE
          li CSS | SASS | LESS | Stylus
          li PHP
          li Python
          li C#
        ul.technical.styleNone
          li Angular
          li Backbone
          li Enyo
          li jQuery
          li Twitter Bootstrap
          li Zend Foundation
          li Bower
        ul.technical.styleNone
          li MongoDB
          li MySQL
          li PostgreSQL
          li SQLite
          li Firebase
        ul.technical.styleNone
          li Node
          li Nginx
          li Apache 2
        ul.technical.styleNone
          li Django | Flask
          li Express | Koa
        ul.technical.styleNone
          li Vim | Sublime Text | Brackets
          li NetBeans | Visual Studio 2012
          li Android Studio | Eclipse
          li Linux | Windows | Mac | Android
        ul.technical.styleNone
          li Phonegap | Cordova
          li Node-webkit
        ul.technical.styleNone
          li Grunt | Gulp | Brunch
          li Yeoman
          li Git | SVN
          li Heroku | AWS EC2
          li Wordpress | Drupal
          li Photoshop | Illustrator

      .sectionEnd
      .category Experience
      #job.section
        .job
          h2 Sparkgig
          h3 Waterloo, Ontario, Canada
          h4
            | 2013
            i.icon-right
            | Current
          p
            ul.first
              li
                | AngularJS, ExpressJS, MongoDB, Grunt, Bower, BackboneJS(deprecated), Bootstrap, jQuery, LESS, JADE
            ul
              li Front-end and server-side code for payments system, integration with paypal API
              li Minimal blog setup with CRUD routes(deprecated, migrated to wordpress)
              li Commenting using facebook API
              li Regex for parsing URLs and generating usernames, various other small features
              li
                | Fixed boilerplate bugs and upgraded dependencies to latest version, dealt with bugs this introduced
        .job
          h2 Prepr
          h3 Toronto, Ontario, Canada
          h4 2013 -- Summer
          p
            ul.first
              li
                | Phonegap, jQuery, jQuery mobile, android APIs, socket.io, ExpressJS, postgreSQL, SQLite
            ul
              li
                | Design and implementation of android features for scanning barcodes, history, connecting over socket.io and dashboard/hooks to client APIs
              li Bugfixing, integration with a socket.io & ExpressJS feature server
              li
                | Remote collaboration with a software development company for bugfixing, UI changes and integration of drupal client APIs with mobile application
        .job
          h2 AngelHack Hackathon Participant
          h3 Toronto, Ontario, Canada
          h4 2013 -- Summer
          p
            ul.first
              li Python, ExpressJS, socket.io
            ul
              li Assisted in development of a smart TV interfacing expressJS application
              li Developed a python based arbitrage trading program using the OANDA API
        .job
          h2 Site Technologies/Veloxsites
          h3 Toronto, Ontario, Canada
          h4 2013 -- Summer
          p
            ul.first
              li PHP, mySQL, jQuery, bootstrap, LESS
            ul
              li Various small features on front-end
              li Bugfixes, such as mySQL injections on backend
              li Rewriting, consistency fixes, custom slider and styling on corporate website
        .job
          h2 U of W Alternatives Fuels Team
          h3 Waterloo, Ontario, Canada
          h4 2013 -- Fall
          p
            ul.first
              li Wordpress and related plugins, CSS, javascript, HTML
            ul
              li Bugfixes on wordpress site styling
              li Collaborated on and implemented features and re-organization of content
        .job
          h2 Facebook Hackathon Participant
          h3 Waterloo, Ontario, Canada
          h4 2013 -- Fall
          p
            ul.first
              li HTML, javascript, CSS, facebook APIs
            ul
              li Collaborated on a social data visualization application
              li Deployed it on heroku and presented to panel
        #lastJob.job
          h2 Hardware assembly and PC setup
          h3 Kolkata, West Bengal, India
          h4
            | 2011
            i.icon-right
            | 2012
          p
            ul.first
              li Operating systems, linux tools, GRUB, GParted, BIOS, hardware
          ul
            li Assembled desktop computers
            li Troubleshot hardware and driver issues
            li
              | Installed and configured OSs on client computers, handled partioning, drive re-formatting, data backup and recovery
      //
         End job section 
      .sectionEnd
      .category Education
      #education.section
        .education
          h2 Candidate for B.A.Sc in Management Engineering
          h3 Enrolled September 2012
          h4 University of Waterloo | Waterloo, Ontario, Canada
          p
            | *I am currently attempting to transfer into the Bachelors of Knowledge Integration program at the University of Waterloo.
        .education
          h2 GCE-O & A level diploma
          h3 Graduated August 2012
          h4 The Cambridge School | Kolkata, West Bengal, India
      .sectionEnd
      .category Miscellaneous
      #Miscalleneous.section
        ul.misc
          li
            | Active resident of VeloCity, a startup incubator/dorm for entrepreneurial students
          li Orientation leader for Waterloo Engineering orientation 2013
          li
            | Taught children from a poor socio-economic background English, Math and computing at the Cambridge School
          li Rooted and flashed cyanogenmod on my smartphone
          li Experience with raspberry pi, circuitry, LeapMotion, and Pebble smartwatch
          li Debugged a server running Red Hat on EC2 as part of a Palantir challenge
      .sectionEnd
