doctype html
head
    title Curriculum Vitae
    link(rel='stylesheet', href='lib/fontello.css')
    link(rel='stylesheet', href='lib/normalize.css')
    link(rel='stylesheet', href='lib/reset.css')
    link(rel='stylesheet', href='lib/styles.css')
    script(src='lib/jq.min.js')
    meta(content='Resume for techonology company internships ~ summer 2015')
    meta(author='Kaustav Haldar')
body
  .trigger    
      button(onclick="$('.full').toggle(); $('.min').toggle();") Toggle detail
  include includes/title
  .content
    include includes/summary
    include includes/experience
    include includes/education
    include includes/misc
    include includes/projects
    include includes/technical
footer
  .footer
    p Designed and coded with
      i.icon-heart
      | by
      a(href='https://github.com/kaustavha') kaustavha.
      |  Fork the template on
      a(href='https://github.com/kaustavha/kaustavha.github.com/resume/3/cv.html')
        i.icon-github
    p.min Full resume available at
      a(href='http://bit.ly/1BngEfX') bit.ly/1BngEfX 
      | or via my website 
      a(href='kaustavha.github.com') kaustavha.github.com
