doctype html
head
    title Curriculum Vitae
    link(rel='stylesheet', href='lib/fonts.css')
    link(rel='stylesheet', href='lib/normalize.css')
    link(rel='stylesheet', href='lib/reset.css')
    link(rel='stylesheet', href='lib/index.css')
    script(src='lib/jq.min.js')
    meta(content='Resume for techonology company internships ~ summer 2015')
    meta(author='Kaustav Haldar')
body
  .trigger
      button(onclick="$('.full').toggle(); $('.min').toggle();") Toggle detail
  include includes/title
  .content
    include includes/mixins
    include includes/summary
    include includes/technical_min
    include includes/experience_min
    include includes/experience_full
    include includes/education
    include includes/misc
    include includes/projects
    include includes/technical_full
footer
  .footer
    p Designed and coded with
      i.icon-heart
      | by
      a(href='https://github.com/kaustavha' target='_blank') kaustavha.
      |  Fork the template on
      a(href='https://github.com/kaustavha/kaustavha.github.com/tree/master/resume/3' target='_blank')
        i.icon-github
    p.min Full resume available at
      a(href='http://bit.ly/khaldar' target='_blank') http://bit.ly/khaldar
      |   or via my website
      a(href='kaustavha.github.com' target='_blank') kaustavha.github.com
