script(src='cordova.js')
script(src='./lib/firebase.min.js')
script(src='./lib/firebase-simple-login.min.js')
script(src='./lib/jquery.min.js')
script(src='./lib/angular.min.js')
script(src='./lib/angular-touch.min.js')
script(src='./lib/firechat-default.min.js')
script(src='./js/app.js')