.login(ng-controller='MainController')
    input(ng-model='username', type='text', placeholder='Username')
    input(ng-model='email', type='text', placeholder='Email')
    input(ng-model='pwd', type='password', placeholder='Password')
    button(ng-click='change()', class='btn') LOGIN