h1 {
  font-weight: bold;
}
.top h1 {
  color: #fff;
  display: inline;
  vertical-align: middle;
}
.top img {
  max-width: 50px;
  display: inline;
}
#right-float {
  margin-left: 242px;
  position: relative;
}
#left-float {
  float: left;
}
#intro {
  background: url("../images/bg.jpg") 0 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
}
#intro .box-intro {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  padding: 10px;
}
#intro h1 {
  color: #fafafa;
}
#intro h2 {
  color: #c8c8c8;
}
#home {
  background: url("../images/home.jpg") 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
}
#about {
  background: url("../images/about.png") 50% 0 fixed;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
}
.hero-unit {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 10px;
}
.hero-unit p {
  font-size: 1.2em;
}
.media-object {
  width: 64px;
  height: 64px;
  padding-bottom: 30px;
}
.example_logo {
  max-width: 150px;
}
.container {
  margin-top: 50px;
}
