.biosHolder{
		overflow: scroll;
		width: 120px;
		height:725px;
		margin-top:30px;
		float: right;
	}
	.biosHolder img{
		padding: 2px;
		cursor:pointer;
	}
	.biosHolder img:hover{
		padding: 2px;
		cursor:pointer;
		opacity: 0.5;
	}
	.social{
		height: 900px;		
		margin-top:10px;
	}
	#intro { 
    position: absolute;
    z-index:100;
		background: url(img/phylaBar.jpg) 0; 
		height: auto;  
		padding-bottom: 355px;
		margin: 0 auto; 
		width: 100%; 	
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
		background-size: cover;
		background-repeat:no-repeat;

	}
	#logo {
		margin-left: 15%
		
	}
  .card{
    height: 250px;
    width: 100%;
    padding: 10px;
  }
  .card p{
    visibility: hidden;
  }
  .card:hover{
    cursor:pointer;
    opacity: 0.5;
     }
     .card p:hover{
      visibility: visible;
     }
/*	.card{    	
		height: 250px;
	width: 100%;

      position: relative;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
	}
	.artist3D{
		 width: 100%;
      height: 100%;
      position: relative;
      margin: 10px 5px 40px;
  
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
	}
	.card figure {
    display: block;
      height: 100%;
      width: 100%;
      line-height: 260px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 140px;
      position: absolute;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}

.back{	
	opacity: 0.5;
	cursor: pointer;
	height: 250px !important;
	width:250px;
	position: absolute;
	 background: black;
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}
.back p{
	font-size:10px;
}
.flipped {
    -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
}*/
.row{width:117%;
margin-left: 0px !important;}
.card h2{
	color: grey;
	postion: absolute;
	z-index:10;	
	margin-left: -15px;
font-family: 'Average Sans', sans-serif;
font-size: 15px;
text-shadow: 2px 3px 3px rgba(0,0,0,0.3)
}
body { background: #E9E9E9; }
h2 { text-align: center; color: #CCC; }
a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #999;
}

a:hover { color: #777; }


.hide{
	opacity: 0;
	visibility: hidden;
  height:1px;
}
.fixedNav{
  text-align: center;
}
.fixed{
  position: fixed;
  width:10%;
}
.releaseBox{
	height:850px;
  width: 100%;
	opacity:0.8;
 
}
.releaseBox2{
  height:700px;
  width:100%;
  opacity:0.8; 
}
#mainLogo{
  background-size: cover;
  width:100%;
  height:100%;
}
#logoIntro{
  z-index:10;
  position: absolute;
  top:0;
  width:25%;
}
#intro h2{
  position:absolute;
  top: 134px;
  left:322px;
}
#bandCamp{
  position: absolute;
  width:65%;
  top:0;
}
.socialButtons{
  width: 10px;
  height: 33% !important;
  position: relative;
  display: inline-block !important;
  border: 0px !important;
}
.socialIcons{
  border:1px solid #ddd;
  margin-left:0px;
  width:122%;
}
li a{
  cursor: pointer;
}
@media (max-width: 480px) {
  section{
    margin-left: 25%;
  }
  .card h2 {
    margin-top: -10%;
  }
  .social{
    margin-left:100px;
  }
  .row-fluid.visible-phone{
  margin-left:100px;
}
}