
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
 .photo {
  background-repeat: no-repeat;
  position: relative;
        
          -webkit-background-size: cover;
             -moz-background-size: cover;
                  background-size: cover;
                  width: 100%;
                  height: 200%;
          
      }
      .photo span {
      bottom: 0;
      color: white;     
      font-size: 38px;
      padding: 0px;
      position: absolute;
      text-shadow: 0 2px 0 black, 0 0 10px black;
      width: 100%;
                        height:200%;
    }
      .m1 {
          background-image: url('../img/road1.jpg');     
            background-size: cover;
      }
      .m2 {
          background-image: url('../img/road2.jpg');
          background-size: cover;
          padding-top: 50px;
          height: 200%;
      }
      .m3 {
      background-image: url('../img/road3.jpg');
      }
      .gtxt { 
      font-family: 'Milonga',cursive;
      }
      .featurette-heading { 
      font-family: 'Milonga',cursive;
      }
      .contact{
        margin-top: 150px;
      }
      .stellar-hero{
          position: relative !important;
          top:0 !important;
          left:0 !important;
          z-index:0 !important;
      }
      .img-circle{
          height: 250px;
          width: 250px;
      }
   
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {     
      width: 100%;
      margin-bottom: 25px;
      margin-top: -70px;
      z-index: 1001;
     }    
     .navbar-wrapper-stuck {          
      position: fixed;
      top:0;
      margin:0;
      left: 0;
      right: 0;
      z-index: 10;    
     }    
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px; 
      float:right;
    }    
    .navbar .btn {
    margin-top: 10px;
    float: right;
    }
      .navbar-inner {
        border-radius: 0;
        margin: 0px 0;
        background-color: rgba(204, 204, 204, .5);
      }
      
    @-webkit-keyframes greenPulse {
from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.button {    
  text-align:center;
  vertical-align:text-center;
  display: inline-block;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
      -moz-animation-name: greenPulse;
      -moz-animation-duration: 1s;
      -moz-animation-iteration-count: infinite;
          animation-name: greenPulse;
          animation-duration: 1s;
          animation-iteration-count: infinite;
   border-top: 1px solid #000000;
   background: #65d66c;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c5c), to(#65d66c));
   background: -webkit-linear-gradient(top, #3e9c5c, #65d66c);
   background: -moz-linear-gradient(top, #3e9c5c, #65d66c);
   background: -ms-linear-gradient(top, #3e9c5c, #65d66c);
   background: -o-linear-gradient(top, #3e9c5c, #65d66c);
   padding: 12px 24px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: 'Milonga',cursive;
   text-decoration: none;
   vertical-align: middle;
   height: 100px;
   width: 100px;
   margin-bottom: -60px;
   z-index: 10000; 
   margin-left:44%;
}
.button:hover {
   border-top-color: #026b1b;
   background: #026b1b;
   color: #ccc;
   }
.button:active {
   border-top-color: #00ff09;
   background: #00ff09;
   }
   .barone{
       z-index: 1000;
       width: 100%;
       height: 125px;
       background-image:url('../img/barone.png');
      
   }
   .bartwo{
       z-index: 1000;
       width:100%;  
       padding-top: 362px !important;
       background-image:url('../img/down-arrow.jpg');
       color: #EBEBEB;
       background-repeat:no-repeat;
       background-size: 100%;
   }
   .off{
       display:none;
   }
   

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 300px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 125px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    #check, #info-call, #DONE{
   color: #333333;
   background: #ffffff;
   -webkit-border-radius: 0 0 15px 15px;
   border-radius: 0 0 15px 15px;
   -webkit-box-shadow:  1px 1px 1px 1px rgba(250, 250, 250, .5);
   box-shadow:  1px 1px 1px 1px rgba(250, 250, 250, .5);
   margin-top: -90px;
   margin-bottom: 15px;
    }
    #check ul {
   list-style-image:url('../img/bluecheck.png');
   list-style-position: outside;
   margin-left: 60px;
    }
    #check ul li { 
    margin: 20px 0;
    line-height: 120%;
    }
    #road2{
    margin-top: -117px;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 0px 0; /* Space out the Bootstrap <hr> more */      
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      z-index: 1;  
      position: relative;
      margin-top: -12px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 25px;
        margin-top: -80px;
        width: auto;
        z-index: 1001;
      }
      .navbar-inner {
        border-radius: 0;
        margin: 0px 0;
        background-color: #a3a3a3;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
        position: relative;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin:0 auto;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      .body {          
      }     
      .stickit {
       position: fixed;
       top: 0;
      }
      .stickit-end {
       bottom: 40px;
       position: absolute;
       right: 0;
      }
      .photo {
  background-attachment: fixed;
  
  background-repeat: no-repeat;
  
  position: relative;
        z-index: -1;     
      }
      .photo m1 {
        top:66px;
        left: 30%;
      }
      .photo span {
      bottom: 0;
      color: white;
      display: block;
      left: 50%;
      margin-left: -640px;
      font-size: 38px;
      padding: 10px;
      position: absolute;
      text-shadow: 0 2px 0 black, 0 0 10px black;
      width: 1280px;
    }
      