.sectionContainer
  span
    .category Education
    .section
      .education
        h2 Candidate for B.A.Sc in Management Engineering
        h3 Enrolled 2012 | Expected Graduation 2017
        h4 University of Waterloo | Waterloo, Ontario, Canada
        p.full *I am currently attempting to transfer into the Independent Studies program at the University of Waterloo and planning on researching distributed computing in trustless environments
      .education.full
        h2 GCE-O & A level diploma
        h3 Graduated August 2012
        h4 The Cambridge School | Kolkata, West Bengal, India
        ul
          li English: A* and a TOEFL score of 118
          li Biology: A
          li Mathematics: A
          li Physics: A
          li Chemistry: B
