.min
  +sectionMid('Experience')
    .job
      span
        h2 Rackspace
          +link('http://www.rackspace.com/')
            i.icon-link
        h5.icon-summer July 2015 - March 2016
        h6 San Francisco | Distributed
      h3 Software Engineer Intern
      h4 Lua + Luvit, ELK, NodeJS, Python, Bash, Hadoop, Ruby, Go, Java, MongoDb, Sql
      ul
        li Extensive work on a monitoring agent written in lua using luvit, internal python app for server, customer information & fault discovery, distributed & resilient monitoring system written in nodeJS, go & java
        li Data-science using ELK with a python ETL script, and on hadoop
        li Assisted in organizing an internal hackathon & conference
        li Published an article about using and benchmarking kafka
        li Myriad of FOSS patches sent and accepted upstream including facebook/HHVM, pypa/pip, docker/machine, see full version of resume for a list. 
    .job
        span
          h2 Nootropix
            +link('http://www.nootropix.com/')
              i.icon-link
          h5
            span.icon-summer
            span.icon-fall May - August 2014
          h6 Distributed
        h3 Co-founder | Writer | Editor
      .job
        span
          h2 Hack The North
            +link('http://www.hackthenorth.com/')
              i.icon-link
          h5
            span.icon-summer
            span.icon-fall May - December 2014
          h6 UW, Waterloo, Canada
        h3 Logistics Director
      .job
        span
          h2 Farmtable
            +link('http://www.gofarmtable.com/')
              i.icon-link
          h5.icon-fall September - November 2014
          h6 Distributed
        h3 Freelance full-stack developer
      .job
        span
          h2 Brizi
            +link('http://www.flybrizi.com/')
              i.icon-link
          h5.icon-summer April - May 2014
          h6 MaRs, Toronto, Canada
        h3 Freelance full-stack developer
      .job
        span
          h2 SparkGig
            +link('http://www.sparkgig.com/')
              i.icon-link
          h5
            i.icon-fall
            i.icon-winter September 2013 - April 2014
          h6 Communitech, Waterloo, Canada
        h3 Co-founder and full-stack developer
      .job
        span
          h2 Prepr Foundation
            +link('http://www.prepr.org/')
              i.icon-link
          h5
            i.icon-summer July - August 2013
          h6 CSI, Toronto, Canada
        h3 Freelance web and mobile developer
      .job
        span
          h2 411.ca
            +link('http://veloxsites.com/')
              i.icon-link
          h5.icon-summer May - July 2013
          h6 Toronto, Canada
        h3 Web developer intern