.min
  +section('Experience')
      .job
        span
          h2 Hack The North
            +link('http://www.hackthenorth.com/')
              i.icon-link
          h5
            span.icon-summer
            span.icon-fall 2014
          h6 UW, Waterloo, Canada
        h3 Logistics co-director
        ul
          li Managed critical logistical issues related to food, internet, registration, location, event planning
          li Worked with a ~30 person team over 8 months to pull off a hackathon with over 1000 participants
      .job
        span
          h2 SparkGig
            +link('http://www.sparkgig.com/')
              i.icon-link
          h5
            i.icon-fall 2013
            i.icon-winter 2014
          h6 Communitech, Waterloo, Canada
        h3 Co-founder and full-stack developer
        ul
          li Designed and developed core components of an AngularJS web application with an Express+Mongo API server
          li Built features allowing non-technical founders to handle administrative and payment functions easily
      .job
        span
          h2 Prepr Foundation
            +link('http://www.prepr.org/')
              i.icon-link
          h5
            i.icon-summer 2013
          h6 CSI, Toronto, Canada
        h3 Freelance web and mobile developer
        ul
          li Designed and implemented an Android application featuring 7 views, 2 APIs and 2 native phone features
          li Remotely collaborated with a remote software development company on behalf of client
          li Wrote detailed application documentation which can be found on my github
      .job
        span
          h2 Veloxsites
            +link('http://veloxsites.com/')
              i.icon-link
          h5.icon-summer 2013
          h6 Toronto, Canada
        h3 Web developer
        ul
          li Fixed major platform bugs that could lead to serious data loss via SQL injection
          li Restyled and created UI widgets for the corporate website leading to higher sales conversions and easier extensibility due to code cleanup
