
+sectionMidMin('Experience')
  .job
    span
      h2 Rackspace
        +link('http://www.rackspace.com/')
          i.icon-link
      h5
        span.icon-summer
        span.icon-fall
        span.icon-winter July 2015 - March 2016
      h6 San Francisco, CA, USA
    h3 Software Engineer Intern
    h4 Lua, ELK, NodeJS, Python, Bash, Hadoop, Ruby, Go, MongoDb
    ul
      li Extensive work on a monitoring agent written in lua using luvit; 100+ plugins integrated
      li Rebuilt microservices in Go for a distributed monitoring backend built in JS, java
      li Built data science tools, in python using Elasticsearch-Logstash-Kibana, Hadoop, Kafka
      li Worked on a Python codebase for automated error & server risk recovery
      li Assisted in organizing rax.io 2016, an internal hackathon & conference with 500+ attendees in Windcrest, Texas.
      li Published an article about using and benchmarking kafka, published on the company engineering blog
      li Open source patches sent and accepted upstream to 10+ opensource projects including facebook/HHVM, pypa/pip, docker/machine, luvit/luvit, racker/dreadnot
  .job
    span
      h2 Hack The North
        +link('http://www.hackthenorth.com/')
          i.icon-link
      h5
        span.icon-summer
        span.icon-fall May - December 2014
      h6 UW, Waterloo, Canada
    h3 Logistics Director
    p Managed logistics details for a 1000+ person MLH Hackathon like registration, food, internet, security
  .job
    span
      h2 Brizi
        +link('http://www.flybrizi.com/')
          i.icon-link
      h5.icon-summer April - May 2014
      h6 MaRs, Toronto, Canada
    h3 Freelance full-stack developer
    h4  JS, PHP & MySQL | coffee-script, jade, stylus, bootstrap, video streaming libraries
    p Built responsive cross platform web views for social media & media transfer & viewing
  .job
    span
      h2 SparkGig
        +link('http://www.sparkgig.com/')
          i.icon-link
      h5
        i.icon-fall
        i.icon-winter September 2013 - April 2014
      h6 Communitech, Waterloo, Canada
    h3 Co-founder and full-stack developer
    h4 JS, node, angular, mongodb
    p One of 3 technical founders, wrote front and back-end code to handle payments, registrations, bookings
  .job
    span
      h2 Prepr Foundation
        +link('http://www.prepr.org/')
          i.icon-link
      h5
        i.icon-summer July - August 2013
      h6 CSI, Toronto, Canada
    h3 Freelance web and mobile developer
    h4 JS, cordova, android
    p Designed and built an Android app with barcode scanning, history, realtime API integration with smartTVs
  .job
    span
      h2 411.ca
        +link('http://veloxsites.com/')
          i.icon-link
      h5.icon-summer May - July 2013
      h6 Toronto, Canada
    h3 Web developer intern
    h4 PHP, JS, HTML, mySQL
    p Fixed numerous bugs, prevented SQL injection attacks. Built UI widgets for editing, sales popups among others
