.min
  +section('Experience')
    .job
      span
        h2 Rackspace
          +link('http://www.rackspace.com/')
            i.icon-link
        h5.icon-summer July 2015
        h6 San Francisco | Distributed
      h3 Software Engineer Intern
      ul
        li Worked on host information checks for the monitoring agent. Added 28 new types
        li Assisted in building a kibana dashboard and a python ETL script for fleet monitoring
    .job
        span
          h2 Nootropix
            +link('http://www.nootropix.com/')
              i.icon-link
          h5
            span.icon-summer
            span.icon-fall 2014
          h6 Distributed
        h3 Co-founder | Writer | Editor
        ul
          li Worked with a ~5 person founding team to launch a blog, which as of September 20th has 7k unique visitors, 500 recurring visitors, 2 sponsored ads and 1 affiliate partnership
          li Wrote articles on #[a(href='http://nootropix.com/hacking-sleep-sleep-less-do-more/') sleep] and the
            | #[a(href='http://nootropix.com/a-primer-on-the-human-brain-for-budding-bio-hackers-part-1/') fundamentals of neuroscience ]
      .job
        span
          h2 Hack The North
            +link('http://www.hackthenorth.com/')
              i.icon-link
          h5
            span.icon-summer
            span.icon-fall 2014
          h6 UW, Waterloo, Canada
        h3 Logistics co-director
        ul
          li Managed critical logistical issues related to food, internet, registration, location, event planning
          li Worked with a ~30 person team over 8 months to pull off a hackathon with over 1000 participants
      .job
        span
          h2 SparkGig
            +link('http://www.sparkgig.com/')
              i.icon-link
          h5
            i.icon-fall 2013
            i.icon-winter 2014
          h6 Communitech, Waterloo, Canada
        h3 Co-founder and full-stack developer
        ul
          li Designed and developed core components of an AngularJS web application with an Express+Mongo API server
          li Built features allowing non-technical founders to handle administrative and payment functions easily
