.full
  +section('Technical Experience')
    .job
      span
        h2 Rackspace
          +link('http://www.rackspace.com/')
            i.icon-link
        h5
          i.icon-summer
          i.icon-fall July 2015 - March 2016
        h6 San Francisco | Distributed
      h3 Software Engineer Intern - Monitoring and metrics 
      h4 Cloud hosting
      h4 Lua + Luvit, ELK, NodeJS, Python, Bash, Hadoop, Ruby, Go, Java, MongoDb, Sql
      ul
        li 
          | Worked extensively on improvements and bug fixes to a
          +link('https://github.com/virgo-agent-toolkit/rackspace-monitoring-agent') FOSS monitoring agent 
          | including ~40 new server monitoring endpoints. 
        li Assisted in building a Kibana dashboard backed by Elasticsearch and a python ETL script for fleet monitoring using aforementioned data
        li Data mining on archival data on Hadoop with Hive and reached out to customers
        li Worked extensively on a large python project for automating support
        li Worked extensively on a large nodejs + java distributed monitoring system fixing bugs, docs, build processes & tools, development VMs; adding linting, tests, API endpoints, microservices, kafka integration.
        li Worked with chef for deploying and orchestrating pieces of aforementioned system
        li Assisted in organizing an internal ~200 person hackathon, Rax.io 2016.
        li Published an article about using and benchmarking kafka
        li Pushed accepted patches/features upstream to:
          ul
            li
              | 
              +link('https://github.com/pypa/pip/pull/3372') pypa/pip
            li 
              | 
              +link('https://github.com/facebook/hhvm/commit/5a2fad570d64bb0c0f63286e1c76262a968c2ee2') facebook/hhvm
            li
              | 
              +link('https://github.com/docker/machine/pull/2652') docker/machine
            li
              | 
              +link('https://github.com/luvit/luvit/commits?author=kaustavha') luvit/luvit
            li
              | 
              +link('https://github.com/lmenezes/elasticsearch-kopf/commits?author=kaustavha') lmenezes/elasticsearch-kopf
            li
              | 
              +link('https://github.com/racker/dreadnot/commits?author=kaustavha') racker/dreadnot
            li
              | 
              +link('https://github.com/rackerlabs/mimic/pull/504') rackerlabs/mimic
            li
              | 
              +link('https://github.com/rackerlabs/blueflood/commits?author=kaustavha') rackerlabs/blueflood

    .job
      span
        h2 Farmtable
          +link('http://www.gofarmtable.com/')
            i.icon-link
        h5.icon-fall September - Novermber 2014
        h6 Distributed
      h3 Freelance full-stack developer
      h4 A marketplace for farmers and restaurants
      h4 Ruby on Rails, coffee-script
      ul
        li Lead a distributed team of 4 developers to rapidly build a MVP for the startup and overhaul existing code and data
    .job
      span
        h2 Brizi
          +link('http://www.flybrizi.com/')
            i.icon-link
        h5.icon-summer April - May 2014
        h6 MaRs, Toronto, Canada
      h3 Freelance full-stack developer
      h4 A flight capable hardware platform for social media and event attendee engagement
      h4 PHP & MySQL | jQuery, coffee-script, jade, stylus, bootstrap, video streaming libraries
      ul
        li Built a mobile view and API for social media and viewing captured pictures, the main software offering of the startup
        li Built a responsive cross platform event engagement display for screens ranging from projectors to smartphones
        li Contributed to the TwitterFontana open-source project augmenting it for Brizi use
    .job
      span
        h2 SparkGig
          +link('http://www.sparkgig.com/')
            i.icon-link
        h5
          i.icon-fall
          i.icon-winter September 2013 - March 2014
        h6 Communitech, Waterloo, Canada
      h3 Co-founder, full-stack developer
      h4 An online marketplace for performers
      h4 MongoDB, Express, AngularJS
      ul
        li Designed and developed core components of the web application, allowing non-technical founders to handle administrative and payment functions easily.
        li Wrote numerous CRUD routes, serverside functions, database schemas, API integrations, front-end controllers, views and styles.
    .job
      span
        h2 Prepr Foundation
          +link('http://www.prepr.org/')
            i.icon-link
        h5
          i.icon-summer July 2013
        h6 CSI, Toronto, Canada
      h3 Freelance web and mobile developer
      h4 A social entrepreneurship and project based education startup
      h4 Cordova, SQLite, jQuery UI & mobile, SocketIO, Express, postgreSQL
      ul
        li Design and implementation of Android application featuring barcode scanning, history, realtime and REST API integration for TV controls and a dashboard
        li Remote collaboration with a software development company for bugfixing, UI improvements and integration of client APIs with mobile application
        li
          | Wrote detailed application documentation which can be found
          +link('https://github.com/kaustavha/Prepr/blob/master/docs/Prepr.pdf?raw=true') here
    .job
      span
        h2 411.ca | Site Technologies | Veloxsites
          +link('http://veloxsites.com/')
            i.icon-link
        h5.icon-summer May - July 2013
        h6 Toronto, Canada
      h3 Web developer
      h4 UW Co-op work term at a medium sized SaaS and advertisement company for SMBs
      h4 PHP, MySQL
      ul
        li Fixed major platform bugs that could lead to serious data loss via SQL injection
        li Restyled and created UI widgets for the corporate website leading to higher sales conversions and easier extensibility due to code cleanup
        li Various small features and bugfixes on application front-end such as increased responsivity to screen sizes, wysiwyg editing and saving
    .job
      span
        h2 UW Alternatives Fuels Team
        h5.icon-fall September - December 2013
        h6 UW, Waterloo, Canada
      h3 Volunteer web developer
      h4 UWAFT is an award winning student design team responsible for developing technologically advanced eco-friendly vehicles
      ul
        li Bugfixes on wordpress site styling
        li Collaborated on and implemented features and re-organization of content
    .job
      span
        h2 Hardware assembly and PC setup
        h5
          | 2010
          i.icon-right
          | 2012
        h6 Kolkata, India
      h3 Small business owner
      ul
        li Assembled desktop computers
        li Troubleshot hardware and driver issues
        li Installed and configured OSs on client computers, handled partioning,
          | drive re-formatting, virus & malware removal, software installations,
          | data backup and recovery.
        li Sold games, movies and software


  +section('Other Experience')
    .job
      span
        h2 Nootropix
          +link('http://www.nootropix.com/')
            i.icon-link
        h5
          span.icon-summer
          span.icon-fall May 2015 - August 2015
        h6 Distributed
      h3 Co-founder | Writer | Editor
      h4 Blog focused on nootropics and bio-enhancement
      ul
        li Worked with a ~5 person founding team to launch a blog, which as of September 20th has 7k unique visitors, 500 recurring visitors, 2 sponsored ads and 1 affiliate partnership
        li Wrote articles on #[+link('http://nootropix.com/hacking-sleep-sleep-less-do-more/') sleep] and some basic
          | #[+link('http://nootropix.com/a-primer-on-the-human-brain-for-budding-bio-hackers-part-1/') fundamentals of neuroscience ]
    .job
      span
        h2 Hack The North
          +link('http://www.hackthenorth.com/')
            i.icon-link
        h5
          span.icon-summer
          span.icon-fall May - November 2014
        h6 UW, Waterloo, Canada
      h3 Logistics co-director
      h4 Canadas largest student organized hackathon. 1000 student hackers at the University of Waterloo. part of mlh.io
      ul
        li Managed logistical issues related to food, internet, registration, event planning
        li Worked with a ~30 person team over the course of 8 months to pull off a successful major league hackathon
    .job
      span
        h2 The Bombshelter pub
        h5
          span.icon-winter
          span.icon-summer
          span.icon-fall January - December 2014
        h6 UW, Waterloo, Canada
      h3 Kitchen Staff
