.legend Legend:
  ul
    li.icon-winter Winter Term (Jan-April)
    li.icon-summer Summer Term (May-August)
    li.icon-fall Fall Term (Sept-Dec)
    li.icon-link Website link
    li.icon-github Github/demo link
