.full
  +section('Miscellaneous')
    ul.sectionBlockStyle
      li Alumnus of Waterloos Velocity program, a startup incubator/residence for entrepreneurial students
      li Orientation leader for Waterloo Engineering Orientation 2013
      li Acted in Waterloos UpStart '14 drama and theatre festival
      li Standard First Aid trained
      li Taught children from a poor socio-economic background English, Math, Science and Computing in India for 2 years
      li Residence supervisor and event organizer at a cooperative housing non-profit in Waterloo for two terms
