+sectionMid('Hackathon & Open-Source projects')
  .alignLeft
    span.project.full
      h2
        | Presentahack
        a(href='https://github.com/kaustavha/presentahack' target='_blank')
          i.icon-github
        h5.icon-winter 2015
      h4 Built a presentation tool for hackers that can execute functions and navigate through
        | HTML slides via input from a Leapmotion controller. Built at Hack Wester at the University of Western in London, ON.
    span.project.full
      h2
        | Armada
        a(href='https://github.com/kaustavha/armada' target='_blank')
          i.icon-github
        h5.icon-winter 2015
      h4 Team lead. Worked on logos and a proof of concept for a cross platform app store built with web technologies.
        | Mentored two novice developers. Got working web, mobile and desktop versions by the end. Built at McHacks at McGill in Montreal, QC.
    span.project
      h2
        | UWChat Mobile Application
        a(href='https://github.com/kaustavha/UWChat' target='_blank')
          i.icon-github
        h5.icon-winter 2014
      h4 Developed a real-time, cross-platform, multi-user messaging capable Android
        | application leveraging Cordova and Firebase.
    span.project.full
      span
        h2
          | Gate Seventeen Promo website
          a(href='http://kaustavha.github.io/tyler/index.html' target='_blank')
            i.icon-link
          h5.icon-winter 2014
      h4 Promotional website for Gate Seventeen, a kick-started drama production based out of
        | Oakville
    span.project
      span
        h2
          | Jade-Stylus-Coffeescript seed
          a(href='https://github.com/kaustavha/jade-stylus-coffeescript-seed' target='_blank')
            i.icon-github
        h5.icon-fall 2014
      h4 A boilerplate for bootstrapping websites/web applications using modern pre-processors
    span.project
      span
        h2 Templater
          a(href='http://kaustavha.github.io/Templater/templater.html' target='_blank')
            i.icon-github
        h5.icon-fall 2014
      h4 Angular application for templating out similar documents using string
        | interpolation and content editable UI components
    span.project.full
      span
        h2 Phyla Digital website
          a(href='http://kaustavha.github.io/Phyla/index.html' target='_blank')
            i.icon-link
        h5.icon-summer 2013
      h4 Design and development of a website template for the Phyla electronic music group
    span.project.full
      span
        h2 Fly Inc. marketing website
          a(href='http://kaustavha.github.io/flyinc/flyinc.html' target='_blank')
            i.icon-link
        h5.icon-summer 2013
      h4 Designed and developed a website for my roommates flyer delivery business
    span.project
      span
        h2 AngelHack Hackathon
          a(href='https://github.com/kaustavha/Angel' target='_blank')
            i.icon-github
        h5.icon-summer 2013
      h4 Built an arbitrage trader using the Oanda API.
        | Co-authored a smart TV interfacing expressJS application, won the Prepr API prize.
    span.project.full
      span
        h2 Facebook Hackathon
        h5.icon-winter 2013
      h4 Collaborated on a social data visualization application.
        | Last awake team member, deployed application on Heroku and presented to judges
