+sectionMidMin('Hackathon & Open-Source projects').full
  .alignLeft
    span.project
      h2
        | HackRoulette
        +link('https://github.com/BlakeBrown/hackroulette')
          i.icon-github
        h5.icon-winter 2015
      h4 Built a chat roulette clone that uses Twitter data and machine learning for user pairing
        | Built at Hack Princeton. Selected as one of the top 8 software projects out of 62 finishing teams
    span.project
      h2
        | Presentahack
        +link('https://github.com/kaustavha/presentahack')
          i.icon-github
        h5.icon-winter 2015
      h4 Built a presentation tool for hackers that takes input from a leapmotion controller
        | Built at Hack Western at Western U in London, Ontario.

    span.project
      h2
        | Armada
        +link('https://github.com/kaustavha/armada')
          i.icon-github
        h5.icon-winter 2015
      h4 Team lead. Worked on logos and a proof of concept for a cross platform app store.
        | Built web, mobile and desktop versions. Built at McHacks at McGill in Montreal, QC.

    span.project
      h2
        | UWChat Mobile Application
        +link('https://github.com/kaustavha/UWChat')
          i.icon-github
        h5.icon-winter 2014
      h4 Developed a real-time, cross-platform, multi-user messaging capable Android
        | application leveraging Cordova and Firebase.

    span.project.full
      span
        h2
          | Gate Seventeen Promo website
          +link('http://kaustavha.github.io/tyler/index.html')
            i.icon-link
          h5.icon-winter 2014
      h4 Promotional website for Gate Seventeen, a kick-started drama production based out of
        | Oakville

    span.project
      span
        h2
          | Jade-Stylus-Coffeescript seed
          +link('https://github.com/kaustavha/jade-stylus-coffeescript-seed')
            i.icon-github
        h5.icon-fall 2014
      h4 A boilerplate for bootstrapping websites/web applications using modern pre-processors

    span.project
      span
        h2 Templater
          +link('http://kaustavha.github.io/Templater/templater.html')
            i.icon-github
        h5.icon-fall 2014
      h4 Angular application for templating out similar documents using string
        | interpolation and content editable UI components

    span.project
      span
        h2 Phyla Digital website
          +link('http://kaustavha.github.io/Phyla/index.html')
            i.icon-link
        h5.icon-summer 2013
      h4 Design and development of a website template for the Phyla electronic music group

    span.project.full
      span
        h2 Fly Inc. marketing website
          +link('http://kaustavha.github.io/flyinc/flyinc.html')
            i.icon-link
        h5.icon-summer 2013
      h4 Designed and developed a website for my roommates flyer delivery business

    span.project
      span
        h2 AngelHack Hackathon
          +link('https://github.com/kaustavha/Angel')
            i.icon-github
        h5.icon-summer 2013
      h4 Built an arbitrage trader using the Oanda API.
        | Co-authored a smart TV interfacing expressJS application, won the Prepr API prize.

    span.project
      span
        h2 Facebook Hackathon
        h5.icon-winter 2013
      h4 Collaborated on a social data visualization application.
        | Last awake team member, deployed application on Heroku and presented to judges
        | Deployed application on Heroku and presented to judges
