.sectionContainer
        .category Miscellaneous
        .section
          ul.misc
            li Occasional resident of VeloCity, a startup incubator/residence for entrepreneurial students
            li Logistics director for Hack The North, Canadas first major league hackathon
            li Co-founded a consumer facing event management startup
            li Orientation leader for Waterloo Engineering Orientation 2013
            li Acted in Waterloos UpStart '14 drama and theatre festival
            li Standard First Aid trained
            li Taught children from a poor socio-economic background English, Math, Science and Computing in India
            li I use Kubuntu as my default OS and CyanogenMod for my smartphone
            li Limited experience with raspberry pi, circuitry, LeapMotion, and Pebble smartwatch
            li Debugged a server running Red Hat on EC2 as part of a Palantir challenge
            li Part-time kitchen staff at The Bombshelter Pub, going on a year now
