+section('Summary')
  ul.sectionBlockStyle
    li Entrepreneurial, self taught developer with experience building web, mobile and desktop applications
    li Sponsor prize winner at AngelHack Toronto summer '13
    li Top 8 software project at Hack Princeton spring '15
    li Co-founded a consumer facing music industry startup
    li Logistics director and part of organizing team of Canadas largest hackathon
