.sectionContainer
  span.category Summary
  .section
    ul.misc
      li Entrepreneurial web developer with experience developing mobile and desktop applications
      li Sponsor prize winner at AngelHack Toronto summer '13
      li Co-founded a consumer facing music industry startup
      li Logistics director and part of organizing team of Canadas largest hackathon
