+section('Summary')
  ul.sectionBlockStyle
    li Autodidact software developer with 4 years of industry experience building web, mobile & desktop applications & distributed systems, storage engines and microservices
    li Javascript, Python, Go, Lua, Ruby with working knowledge of Git, Docker, NGINX, Kafka
