+section('Summary')
  ul.sectionBlockStyle
    li Autodidact software developer with experience building web, mobile and desktop applications
    li Co-founded a consumer facing music industry startup
    li Sponsor prize winner at AngelHack Toronto summer '13
    li Logistics director and part of the organizing team of a 1000+ person hackathon, Hack the North fall '14
    li Top 8 software project at Hack Princeton spring '15
