.full
  +sectionMid('Technical')
    .alignMid
      +techList('JavaScript | CoffeScript'
        , 'HTML | JADE'
        , 'CSS | LESS | stylus'
        , 'PHP'
        , 'Python'
        , 'C#'
        , 'Ruby'
        )
      +techList('MongoDB'
        , 'MySQL'
        , 'PostgreSQL'
        , 'SQlite'
        , 'Firebase'
        )
      +techList('Twitter Bootstrap'
        , 'Zurb Foundation'
        , 'Metro UI CSS'
        , 'jQuery'
        , 'Angular'
        , 'React'
        , 'Backbone'
        )
      +techList('Grunt | Gulp | Brunch'
        , 'Yeoman'
        , 'Bower'
        , 'NPM'
        , 'Git | SVN'
        , 'Heroku | AWS EC2 | GoDaddy'
        )
      +techList('Node'
        , 'Nginx'
        , 'Apache 2'
        , 'Django | Flask'
        , 'Express'
        , 'Sails.js | MEAN.io'
        , 'Phonegap | Cordova | Ionic'
        , 'Node-webkit'
        )
