.sectionContainer#technical
        span.category Technical
        div
          ul
            li JavaScript | CoffeScript
            li HTML | JADE
            li CSS | SASS | LESS | Stylus
            li PHP
            li Python
            li C#
          ul
            li MongoDB
            li MySQL
            li PostgreSQL
            li SQLite
            li Firebase
          ul
            li Grunt | Gulp | Brunch
            li Yeoman
            li Bower
            li NPM
            li Photoshop | Illustrator
          ul
            li Vim | Sublime Text | Brackets
            li NetBeans | Visual Studio 2012
            li Android Studio | Eclipse
            li Linux | Windows | Mac | Android
          ul
            li Twitter Bootstrap
            li Zurb Foundation
            li Metro UI CSS
          ul
            li Node
            li Nginx
            li Apache 2
          ul
            li Angular
            li Backbone
            li jQuery
          ul
            li Django | Flask
            li Express | Koa
            li Sails.js | MEAN.io
          ul
            li Git | SVN
            li Heroku | AWS EC2 | GoDaddy
            li Wordpress
          ul
            li Phonegap | Cordova
            li Node-webkit
          ul
            li Kademlia 
            li Blockchains 
            li Onion Routing | Mix-nets
