.sectionContainer#technical
  span.categoryCenter Technical
  .sectionCenter
    .full
      ul
        li JavaScript | CoffeScript
        li HTML | JADE
        li CSS | LESS | Stylus
        li PHP
        li Python
        li C#
        li Ruby
      ul
        li MongoDB
        li MySQL
        li PostgreSQL
        li SQLite
        li Firebase
      ul
        li Twitter Bootstrap
        li Zurb Foundation
        li Metro UI CSS
        li Angular
        li Backbone
        li jQuery
      ul
        li Grunt | Gulp | Brunch
        li Yeoman
        li Bower
        li NPM
        li Git | SVN
        li Heroku | AWS EC2 | GoDaddy
        li Wordpress
      ul
        li Node
        li Nginx
        li Apache 2
        li Django | Flask
        li Express | Koa
        li Sails.js | MEAN.io
        li Phonegap | Cordova | Ionic
        li Node-webkit
      ul
        li Distributed hash tables
        li Blockchains
        li Onion Routing | Mix-nets
        li Aircrack-ng

    .min
      p Languages: {HTML, CSS, PHP, C#, Ruby, Python, Javascript(NodeJS)};
      p Paradigms: {OOP & FRP}; VCS: {git, svn}; DBs: {relational, key-value, document}; FOSS: {wiredep.js, angular-strap, TwitterFontana};
      p Familiar with modern web & cross-platform app development tools, preprocessors, frameworks and libraries.
