.min
  +section('Technical Summary')
    .sectionBlockStyle.alignMid
      p Familiar with modern web & cross-platform app development tools, preprocessors, frameworks and  libraries.
      p Languages: { Javascript, Ruby, Python, PHP, C#, Go, C++, Java };
      p VCS: { git, svn }; DBs: { relational, key-value, document }; FOSS Contribs: { wiredep.js, angular-strap, TwitterFontana, HHVM, pip, docker-machine, dreadnot };
