.min
  +section('Technical Summary')
    .sectionBlockStyle.alignMid
      p Familiar with modern web & cross-platform app development tools, preprocessors, frameworks and  libraries.
      p Languages: { HTML, CSS, PHP, C#, Ruby, Python, Javascript(NodeJS) };
      p VCS: { git, svn }; DBs: { relational, key-value, document }; FOSSC: { wiredep.js, angular-strap, TwitterFontana, HHVM };
