.min
  +section('Technical Summary')
    .sectionBlockStyle.alignMid
      p Familiar with modern web & cross-platform app development tools, preprocessors, frameworks and  libraries.
      p Languages: { Javascript(NodeJS), HTML, CSS, PHP, C#, Ruby, Python, C++, Java };
      p VCS: { git, svn }; DBs: { relational, key-value, document }; FOSSC: { wiredep.js, angular-strap, TwitterFontana, HHVM, pip, docker-machine, dreadnot };
