.header
      span.title
        h1 Kaustav Haldar

      span.title-right
        span.infoContact
          ul.styleNone
            li
              i.icon-globe
              a(href='http://kaustavh.me') http://kaustavh.me
            li
              i.icon-mail
              a(href='mailto:hi@kaustavh.me') hi@kaustavh.me
            li
              i.icon-mobile
              a(href='tel:226-989-3852') 226-989-3852
            li
              i.icon-github
              a(href='https://github.com/kaustavha') kaustavha
