.header
  span.title
    h1 Kaustav Haldar

  span.title-right
    span.infoContact
      ul.styleNone
        li
          i.icon-globe
          a(href='http://kaustav.me' target='_blank') http://kaustav.me
        li
          i.icon-mail
          a(href='mailto:hi@kaustav.me') hi@kaustav.me
        li
          i.icon-mobile
          a(href='tel:+14156453681') +1 415 645 3681
        li
          i.icon-github
          a(href='https://github.com/kaustavha' target='_blank') kaustavha
hr.blue#header-seperator
