.header
  span.title
    h1 Kaustav Haldar
    h2 Software Developer
  span.title-right
    span.infoContact
      ul.styleNone
        li
          i.icon-globe
          a(href='http://kaustav.me' target='_blank') http://kaustav.me
        li
          i.icon-mail
          a(href='mailto:hi@kaustav.me') hi@kaustav.me
        li
          i.icon-github
          a(href='https://github.com/kaustavha' target='_blank') kaustavha
        li
          i.icon-mobile
          a(href='https://github.com/kaustavha' target='_blank') 226-988-9222
hr.blue#header-seperator
