doctype html
head
    title Kaustav Haldar - Personal site
    link(rel='stylesheet', href='../kaustav-haldar-resume/lib/fonts.css')
    link(rel='stylesheet', href='../kaustav-haldar-resume/lib/lib/normalize.css')
    link(rel='stylesheet', href='../kaustav-haldar-resume/lib/lib/reset.css')
    link(rel='stylesheet', href='lib/index.css')
    script(src='lib/jq.min.js')
    body
        main
            section(id='content')
                article
                    p Hi! My name is Kaustav Haldar and I'm a human who likes coding living in Canada. I've worked on a diverse array of programming projects in the past including web dev (static & full stack), mobile apps, distributed monitoring systems & data science as an intern, volunteer, founder or freelancer. 
                    p I did my undergraduate in Psychology at the University of Waterloo in Ontario, Canada. My brain thinks the human brain is really interesting, kinda narcissistic of it eh?
                    p During my undergrad career I also had the privilege of being a technical founder at a music industry startup (SparkGig) and the logistics director for a 1000+ attendee hackathon (Hack The North). 
                    p Apart from programming I'm also passionate about understanding and bettering human beings and am well read in psychology, neuroscience, endocrinology, pharmacology & crypto-economics. I'm a big proponent of practical transhumanism. 
                    hr.grey
                    ul
                        li
                            a(href="./kaustav-haldar-resume/")
                                img(src='img/resume.svg')
                                sub Resume
                        li
                            a(href="https://medium.com/@kaustavha")
                                img(src='img/medium.svg')
                                sub Blog
                        li
                            a(href='https://github.com/kaustavha')
                                img(src='img/github.svg')
                                sub Github
                        li
                            a(href='https://www.linkedin.com/in/kaustav-haldar-32283462/')
                                img(src='img/linkedin.svg')
                                sub LinkedIn
                        li
                            a(href='mailto:hi@kaustav.me')
                                img(src='img/gmail.svg')
                                sub Contact

