p Howdy! My name's Kaustav Haldar and I'm a developer based in Canada. I've built websites, web, mobile & desktop apps, worked on data science & distributed systems, sent accepted patches & features to various open-source projects, been to many hackathons & even helped throw one. I've worked as an intern, freelancer, volunteer, line cook, editor, organizer & founder. 

mixin line(imgSrc, txt)
	img(src=imgSrc)
	| #{txt}
	br

p
	+line('https://s-f.scribdassets.com/images/landing/home2_landing/scribd_logo_horiz_small.svg?c424aaed1', "SE II, Scribd, Toronto, 2020")
	+line('https://img.pngio.com/logo-ibm-png-pluspngcom-1920-logo-ibm-png-ibm-png-1920_768.png', "SE, IBM Cognos, Ottawa, 1/2018 - 4/2019")
	+line('img/icons8-School-26.png', 'B.A. Psychology, University of Waterloo, 2013-2017')
	+line('img/rackspace.svg', 'Software Developer @ Rackspace, 7/2015 - 3/2016')
	+line('img/icons8-Truck-50.png', 'Logistics Director @ Hack the North, 2014')
	+line('img/icons8-Rock-50.png', 'Founder @ Sparkgig, 9/2013 - 4/2014')

p My programming interests include front end & full stack development for web, mobile or desktop apps, cryptocurrencies, data science, machine learning via neural nets & distributed systems. 
p My non-programming interests include psychology, neuroscience, endocrinology, pharmacology & excercise science. 
