p Howdy! My name's Kaustav Haldar and I'm a developer based in Canada. 
p I've worked professionally as a full stack engineer on web, mobile & desktop apps, distributed systems, data science, business intelligence
p I've also dabbled in development work with cryptocurrencies and machine learning and have a patent with IBM in the cryptocurrency field
p Sent accepted patches & features to various large open-source projects
p Been to many hackathons & even helped throw one
p I've worked as an intern, freelancer, volunteer, line cook, editor, organizer & founder

mixin line(imgSrc, txt)
	img(src=imgSrc)
	| #{txt}
	br

p
	+line('https://s-f.scribdassets.com/images/landing/home2_landing/scribd_logo_horiz_small.svg?c424aaed1', "Software Engineer II, Scribd, Remote, 2020")
	+line('https://img.pngio.com/logo-ibm-png-pluspngcom-1920-logo-ibm-png-ibm-png-1920_768.png', "SE, IBM Cognos Analytics, Ottawa, 2018 - 2019")
	+line('img/icons8-School-26.png', 'B.A. Psychology, University of Waterloo, 2013 - 2017')
	+line('img/rackspace.svg', 'Software Engineer Intern, Rackspace, 7/2015 - 3/2016')
	+line('img/icons8-Truck-50.png', 'Logistics Director, Hack the North, 2014')
	+line('img/icons8-Rock-50.png', 'Co-founder, Sparkgig, 9/2013 - 4/2014')

p My non-programming interests include psychology, neuroscience, endocrinology, pharmacology & excercise science. 
