p Howdy! My name's Kaustav Haldar and I'm a software developer currently living in Canada. I've been programming seriously since 2012 and have built websites, web & mobile apps and had the opportunity to explore data science and work on massive distributed systems. I've also sent a myriad of patches and features to open source projects. I've worked as an intern, freelancer, volunteer & founder. 

p I am in the process of finishing a B.A. in Psychology from the University of Waterloo, possibly with a minor in Cognitive Science. I also had the privilege of founding a startup (Sparkgig) and organizing a massive hackathon (Hack The North 2014) during my undegraduate career. 

p My programming interests include front end & full stack development for web, mobile or desktop apps, cryptocurrencies, data science, machine learning via neural nets & distributed systems. My non-programming interests include psychology, neuroscience, endocrinology, pharmacology & excercise science.

//- p Hi there. My name is Kaustav Haldar and I'm a human who likes writing terrible English that makes computers do things, currently living in Canada. 

//- p As a self taught software developer I've been programming professionally for ~5 years. I've built websites & web and mobile apps. I've also had the opportunity to explore data science and work on massive distributed systems. I gained this experience through internships, side projects, freelancing, volunteering and going to hackathons. 

//- p I am in the process of finishing a B.A. in Psychology from the University of Waterloo and possibly a minor in Cognitive Science.

//- p I've also had the privilege of founding a startup (Sparkgig) and organizing a massive hackathon (Hack The North 2014) during my undegraduate career. 

//- p My other interests include psychology, neuroscience, endocrinology, pharmacology & crypto-economics.

//- p I'm a self-taught software developer with ~5yrs of experience building websites, web apps & mobile apps. I've also had the opportunity to explore data science and work on massive distributed systems. I've worked in a variety of positions, such as a founder, freelancer, intern, volunteer & director.

//- p My other interests include psychology, neuroscience, endocrinology, pharmacology & crypto-economics.

//- p Hi! My name is Kaustav Haldar and I'm a human who likes coding living in Canada. I've worked on a diverse array of programming projects in the past including web dev (static & full stack), mobile apps, distributed monitoring systems & data science as an intern, volunteer, founder or freelancer. 
//- p I did my undergraduate in Psychology at the University of Waterloo in Ontario, Canada. My brain thinks the human brain is really interesting, kinda narcissistic of it eh?
//- p During my undergrad career I also had the privilege of being a technical founder at a music industry startup (SparkGig) and the logistics director for a 1000+ attendee hackathon (Hack The North). 
//- p Apart from programming I'm also passionate about understanding and bettering human beings and am well read in psychology, neuroscience, endocrinology, pharmacology & crypto-economics. I'm a big proponent of practical transhumanism. 
