ul
    li
        a(href="./kaustav-haldar-resume/")
            img(src='img/resume.svg')
            sub Resume
    li
        a(href="https://medium.com/@kaustavha")
            img(src='img/medium.svg')
            sub Blog
    li
        a(href='https://github.com/kaustavha')
            img(src='img/github.svg')
            sub Github
    li
        a(href='https://www.linkedin.com/in/khaldar/')
            img(src='img/linkedin.svg')
            sub LinkedIn
    li
        a(href='mailto:hi@kaustav.me')
            img(src='img/gmail.svg')
            sub Contact
