
html
	margin 0
	padding 0
	background #FAFBFD
	font-size 62.5%

body
	font-weight 400
	font-size 1.5em
	line-height 2em
	color #333
	margin 0
	padding 0

main
	position relative
	max-width 33em
	margin auto
	box-sizing border-box
	padding 10em 0

#content
	padding 2em
	box-sizing border-box

article
	h1
		font-size 1.667em
		margin-top 0
		margin-bottom 1.2em
		color #000
	p
		margin 1.5em 0
	ul
		margin 1.5em 0
		padding 0
		li
			display inline-block
			margin-right 1em
		li:last-child
			margin-right auto
		a
			display inline-block
			transition ease-out all 0.1s
			cursor pointer
			transform scale(1)
			transform-style preserve-3d
			transition all cubic-bezier(0.5, 1.75, 0.5, 1) 0.5s
		a:hover,a:focus
			transform scale(1.1)
		i
			display block
			width 1.5em
			height auto

			